
html {
	height: 100%;
}

body {
	background-image: url("/Users/thomasstaub/Desktop/basic-portfolio/assets/images/whiteBack.png");
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
    height: 100%;
    width: 100%;
}

header  {
    bottom: 10px;
    right: 9px;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 35px;
    min-width: 960px;
    border-bottom-style: solid;
    border-color: #666666;
    border-width: 1px;
}

footer  {
    background-color: #666666;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 5px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-top: 50px;
    position: relative;
    right: 9px;
}

a  {
    list-style-type: none;
    color: #777777;
    list-style: none;
    display: inline;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

nav  {
    padding-right: 10px;
    padding-left: 10px;
    top: 40px;
    position: relative;
    float: right;
}



.myName  {
    float: left;
    position: relative;
    background-color: #4aaaa5;
    padding: 30px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 9px;
}
main  {
    width: 930px;
    margin: auto;
    position: relative;
    overflow: auto;
    background-color: #ffffff;
    padding: 15px;

}
.content  {
    overflow: auto
}
.container  {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: auto;
}
h1  {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-color: #dddddd;
    border-width: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
    font-size: 28px;
}


#myImage  {
    float: left;
    margin-right: 50px;
    margin-bottom: 5px;
}

p  {
    width: 930px;
    line-height: 30px;
}

a:link  {
    text-decoration: none;
}

#aboutLink  {
    position: relative;
    border-right-style: dotted;
    border-width: 1px;
    border-color: #666666;
    padding-right: 10px;
    top: 10px;
}

#portfolioLink  {
    position: relative;
    border-right-style: dotted;
    border-width: 1px;
    border-color: #666666;
    padding-right: 10px;
    padding-left: 5px;
    top: 10px;
}

#contactLink  {
    position: relative;
    top: 10px;
    padding-left: 5px;
}

input  {
    width: 100%;
    height: 20px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

#messageInput  {
    height: 150px;
    margin-top: 5px;
}
#submitButton  {
    margin-top: 30px;
    width: 95px;
    height: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}
#nameInput  {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#emailInput  {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder  {
    font-family: Arial, Helvetica, sans-serif;
    color: #bbb;
    font-size: 12px;
}

.boxLink  {
   height: 160px;
   width: 240px;
   margin-right: 20px;
   margin-bottom: 15px;
}

form  {
    padding-right: 15px;
}

.tag  {
    width: 95px;
    height: 65px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
}




